input {
    width: 300px;
    border: solid rgb(192, 191, 191) 2px;
}
.b1 {
    width: 140px;
}
img {
    width: 90px;
    height: 90px;
    border: solid rgb(192, 191, 191) 2px;
}
body {
    background-color: grey;
}
p {
    font-size: 23px;
    font-style: italic;
    color: white;
}